<!DOCTYPE html>

<html>
  <head>
    <title>Eventhype</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.imagesURL = "<%= image_url('images.png') %>"; 
    </script>
     <script type="text/javascript">
      window.elogoURL = "<%= image_url('elogo.png') %>"; 
    </script>

<%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
<%= favicon_link_tag '/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
<%= favicon_link_tag '/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>

  </head>


  <body>
    <%= yield %>
  </body>
</html>
